/* Standaard button styling */
.btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #FCBC2D;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Hover effect: Gele rand en lichte gloed */
.btn:hover {
    background-color: #FFD75A; /* Lichtere geel */
    border-color: #FCBC2D; /* Gele rand */
    box-shadow: 0px 0px 10px rgba(252, 188, 45, 0.5); /* Zachte gele gloed */
}