* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 80px;
  overflow-x: hidden;
}
.navigatie-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
}
h1, .title {
  font-family: "Poppins", sans-serif;
}
h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
p, span, div {
  font-family: "Poppins", sans-serif;
}
.logo {
  padding-top: 5px;
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.logo-img {
  width: auto;
  height: 75px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.logo-img:hover {
    transform: scale(1.1);
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  flex-grow: 1;
}
.nav-links li {
  margin: 0 10px;
}
.default-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s ease, transform 0.3s ease;
}
.default-link:hover {
  color: #f8c93c;
}
.icon-link {
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.icon-link:hover {
  color: #f8c93c;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
  }
  .hamburger .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }
  .nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-links li {
    margin: 10px 0;
  }
}