@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.home {
    padding: 2rem;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #111;
    border-radius: 10px;
    box-sizing: border-box;
}

.bordered {
    border: 1px solid #fcbc2d;
    padding: 2rem;
    border-radius: 10px;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.home-text h1 {
    font-size: 1rem;
    color: #fcbc2d;
    margin-bottom: 1rem;
}

.home-text p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.home-text button {
    padding: 0.4rem 1.2rem;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #fcbc2d;
    cursor: pointer;
    width: fit-content;
    max-width: 200px;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.home-text button:hover {
    background-color: #fcbc2d;
}

.home-image {
    padding: 0;
}

.home-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: filter 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.home-image:hover img {
    filter: grayscale(0%);
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .bento-wrapper {
        grid-template-columns: 1fr;
    }

    .card {
        text-align: center;
        padding: 1.5rem;
    }

    .home-image img {
        height: auto;
    }
}