.modalQR-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.modalQR-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.modalQR-button {
    background-color: #fcbc2d;
    color: black;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}
.modalQR-button:hover {
    background-color: #e6aa28;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}