#root {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}
body {
  font-family: 'Aubrey','Nunito Sans', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}